@import '../node_modules/syrup/less/syrup.less';
@icon-font-base-dir: 'assets/fonts/';
@import url(http://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);

body,
html {
  font-family: Lora;
}

header {
  border-top-color: #e39a4c;
  background: none;
  color: @black;
  border-top-width: 2px;
  box-shadow: 1px 1px 3px 0 @shadow;

  .padded {
    padding: @spacing-sm @spacing-l;
  }
}

header h1 {
  margin: 0;
  color: @black;
}

p,
h1,
h2,
h3,
h4 {
  margin: @spacing-l 0;
}

h1 {
  font-size: @font-size-l;
}

h2 {
  font-size: @font-size-m;
}

h3 {
  font-size: @font-size;
}

section,
header > div {
  max-width: 980px;
}

header > div {
  margin: 0 auto;
}

.provided-by {
  margin-left: auto;

  a:first-child {
    margin-right: @spacing-l;
  }
}

.flex-row {
  align-items: center;
  display: flex;

  .flex-right {
    margin-left: auto;
  }
}

.section,
.section .proof {
  padding: @spacing-l;
}

.section .proof {
  padding-top: 0;
  padding-bottom: 0;

  &:last-child {
    padding-left: 0;
  }
}

.section {
  border-bottom: 2px solid @lighter-gray;

  h2:first-child {
    margin-top: 0;
  }

  &:last-child,
  &.last-section {
    border-bottom: 0;
  }

  &.last-section {
    padding-bottom: 0;
  }
}

.intro {

  h2 {
    color: @gray;
    font-weight: 400;
    margin: 0;
  }
}

.question-list {
  flex-wrap: nowrap;

  .question {
    box-shadow: inset 1px 1px 4px @shadow;
    border: 1px solid @light-gray;
    overflow: hidden;
  }

  .prev-question,
  .next-question {
    flex-shrink: 0;
    flex-grow: 0;
    padding: 0;
  }

  .prev-question {
    padding-right: @spacing-sm;
  }

  .next-question {
    padding-left: @spacing-sm;
  }

  .question > ul {
    padding: 0;
    margin: 0;
    flex-wrap: nowrap;
    list-style-type: none;
    transition: transform 0.6s cubic-bezier(0, 0.7, 0.3, 1);

    > li {
      width: 100%;
      flex-grow: 0;
      flex-shrink: 0;
      flex-wrap: nowrap;
      padding: @spacing-sm;

      img {
        flex-shrink: 0;
      }

      *:first-child {
        margin-top: 0;
      }

      *:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.choice-list {
  list-style-type: none;

  li {
    padding: 5px @spacing-xsm;

    &.is-selected {
      padding: @spacing-xsm;
      background: @green;
      color: #fff;
      border-radius: 4px;
    }
  }
}

.prev-question,
.next-question {
  svg {
    fill: @blue;
    transition: fill 150ms linear;
  }

  &:not([disabled]):hover {
    svg {
      fill: lighten(@blue, 10%);
    }
  }

  &[disabled] {
    svg {
      fill: @light-gray;
    }
  }
}

.prev-question svg {
  transform: rotate(-180deg);
}

.proof > .flex-row {
  flex-wrap: nowrap;
}

.proof h2 {
  margin-bottom: 0;
}

.description {
  font-style: italic;
  margin-top: 0;
  color: @gray;
  font-size: @font-size-sm;
}

.loading {
  text-align: center;
  padding: @spacing-xxl;

  svg {
    fill: @blue;
  }
}

.solve-button {
  text-align: center;
  padding-top: @spacing-l;

  button {
    font-size: @font-size-l;
    padding: @spacing @spacing-xxl;
    margin: 0;
    font-family: Lora;
    font-weight: 400;
  }
}

.formula-list {
  border: 1px solid @light-gray;
  box-shadow: inset 1px 1px 3px 0 @shadow;
  list-style-type: none;
  max-height: 300px;
  overflow: auto;
  padding: 0;
  margin-bottom: 0;

  li {
    justify-content: center;
    padding: @spacing-xsm;
    display: flex;
    font-size: @font-size-sm;

    em {
      margin-left: auto;
      font-size: @font-size-sm;
      color: @gray;
    }

    &:nth-child(odd) {
      background: lighten(@lighter-gray, 2%);
    }

    &.is-aligned {
      color: @blue;
      font-weight: 700;
      transition: color 0.3s linear;

      &.is-active {
        background: @blue;

        &,
        em {
          color: #fff;
        }
      }
    }
  }
}

.answer {
  padding: @spacing-l;
  margin-bottom: @spacing-l;
  border-bottom: none;

  h2 {
    margin-bottom: 0;
  }

  .choice-list {
    max-width: 400px;
    font-size: @font-size;
  }
}

.empty {
  color: @light-gray;
  font-style: italic;
}

.icon-check {
  font-size: @font-size;
}

.loading-solution .loading {
  padding-top: @spacing-xxl * 5;
  padding-bottom: @spacing-xxl * 5;
}

.extractions {
  flex-wrap: nowrap;
  align-items: flex-start;

  > * {
    flex-shrink: 0;
    flex-grow: 0;
    width: 50%;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

.ask-again {
  padding-bottom: @spacing;
}

@media screen and (max-width: 800px) {
  .extractions {
    display: block;

    > * {
      width: auto;
    }
  }

  header {
    a {
      display: none;
    }
  }

  .section,
  .extractions .proof,
  .ask-again {
    &,
    &:last-child,
    &:first-child {
      padding: @spacing-sm;
    }
  }

  .solve-button {
    padding: @spacing-sm 0 0;
  }

  .extractions .proof {
    &,
    &:last-child,
    &:first-child {
      padding-left: 0;
      padding-right: 0;
    }
  }

  p,
  h1,
  h2,
  h3,
  h4 {
    margin: @spacing 0;
  }

  .intro {
    display: none;
  }

  .question-list {
    margin: 0 -@spacing-sm;

    .question {
      border: none;
      box-shadow: none;

      > ul > li {
        padding: @spacing-sm;
        display: block;

        img {
          max-width: 90%;
        }
      }
    }
  }


  .next-question,
  .prev-question {;

    svg {
      width: 40px;
      height: 40px;
    }
  }

  .solve-button {
    button {
      width: 100%;
      padding: @spacing-sm;
    }
  }

  .formula-list {
    padding-left: 0;

    li {
      em {
        padding-left: @spacing-sm;
      }
    }
  }

  .loading-solution .loading {
    padding-top: @spacing-xxl * 3;
    padding-bottom: @spacing-xxl * 3;
  }

  .answer {
    margin-bottom: 0;
  }
}

.expand {
  margin-left: @spacing-sm;
  padding: @spacing-sm;
  background: @lighter-gray;
  font-weight: 700;
  flex-shrink: 0;
  font-size: @font-size;
  color: @blue;
}
