@import url(http://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);
@import '../node_modules/syrup/less/syrup.less';
@icon-font-base-dir: 'assets/fonts/';
@smooth-ease: cubic-bezier(0, 0.7, 0.3, 1);

body,
html,
button {
  font-family: Lora;
}

header {
  border-top-color: #e39a4c;
  background: none;
  color: @black;
  border-top-width: 2px;
  border-bottom: 1px solid @light-gray;
  box-shadow: 1px 1px 3px 0 @shadow;

  h1 {
    margin: 0;
    color: @black;
  }
}

footer {
  border-top-color: @light-gray;

  .instructions {
    padding: @spacing-sm;
    background: @lighter-gray;
    color: #000;
    font-weight: 700;
  }

  .btn-prev {
    margin-right: @spacing;
  }
}

p,
h1,
h2,
h3,
h4 {
  margin: @spacing-l 0;
}

h1 {
  font-size: @font-size-l;
}

h2 {
  font-size: @font-size-m;
}

h3 {
  font-size: @font-size;
}

html,
body,
.viewport {
  height: 100%;
}

// This sets up the viewport such that the footer in each section sticks to the bottom
.viewport, main, main > div, .not-scrollable {
  overflow: hidden;
}

header,
main,
footer {
  width: 100%;
}

header,
footer {
  flex-grow: 0;
  flex-shrink: 0;
}

button {
  font-size: @font-size-l;
  font-weight: 400;
  padding: @spacing-sm @spacing-l;
  text-shadow: 1px 1px 0 #000;
}

.flex-row,
.flex-column {
  display: flex;
}

.flex-row {
  align-items: center;
}

.flex-right {
  margin-left: auto;
}

.flex-column {
  flex-direction: column;
}

.padded {
  padding: @spacing-sm;
}

.provided-by {
  a:first-child {
    margin-right: @spacing-sm;
  }
}

.flex-grow {
  flex-grow: 1;
}

.scrollable {
  overflow: auto;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;

  svg {
    fill: @blue;
    animation: rotate 0.4s linear infinite;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.question-list-container {
  flex-wrap: nowrap;

  .question-list {
    overflow: hidden;
  }

  .question-list > ul {
    flex-wrap: nowrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition: transform 0.6s cubic-bezier(0, 0.7, 0.3, 1);

    > li {
      width: 100%;
      flex-grow: 0;
      flex-shrink: 0;
      flex-wrap: nowrap;
      padding: @spacing-sm;

      img {
        flex-shrink: 0;
      }

      *:first-child {
        margin-top: 0;
      }

      *:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.question {
  flex-wrap: nowrap;
}

.question-choice-list {
  list-style-type: none;

  li {
    padding: @spacing-xsm / 2 @spacing-xsm;
    transition: background 0.2s linear, color 0.2s linear;

    &.is-selected {
      background: lighten(@green, 50%);
      color: @green;
    }
  }
}

.prev-question,
.next-question {
  flex-shrink: 0;
  flex-grow: 0;
  justify-content: center;
  line-height: 1;
  padding: 0;

  svg {
    fill: @blue;
    transition: fill 150ms linear;
  }

  &:not([disabled]):hover {
    svg {
      fill: lighten(@blue, 10%);
    }
  }

  &[disabled] {
    svg {
      fill: @gray;
    }
  }
}

.prev-question {
  padding-right: @spacing-sm;

  svg {
    transform: rotate(-180deg);
  }
}

.next-question {
  padding-left: @spacing-sm;
}

.parsed-formulas {
  align-items: flex-start;

  .formula-list-container {
    width: 50%;
  }
}

.formula-list-container {
  h2 {
    margin: 0;
    padding: @spacing-xsm;
    color: @gray;
    font-weight: 400;
  }
}

.formula-list {
  padding: 0;
  margin: 0;

  li {
    border-bottom: 1px solid @light-gray;
    cursor: pointer;
    color: @blue;
    padding: @spacing-xsm;

    &.is-active,
    &:hover {
      background: @lighter-blue;
    }

    &:first-child {
      border-top: 1px solid @light-gray;
    }

    &.is-aligned {
      font-weight: 700;
    }
  }
}

.question-diagram-container {
  position: relative;

  svg {
    stroke: @blue;
    stroke-width: 4px;
    fill: transparent;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.is-active-text {
  color: @blue;
  text-decoration: underline;
}
